:root {
	color-scheme:light
}
.qxCTlb{
/*	min-height:36px;
	padding:8px 16px;
*/	border-radius:4px;font-family:Roboto,Arial,sans-serif;
	font-weight:700;
	line-height:20px;
	letter-spacing:.25px;
	color:white;
	border-width:0;
	cursor:pointer;
	white-space:break-spaces;
	word-break:break-word


}
.hur54b{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	box-sizing:border-box;
	background-color:rgba(32,33,36,.6);
	z-index:9999
}
@media (width <= 700px) {
    .hur54b {
        padding:72px 0 0 0;
    }
}
@media (width >= 700px) {
    .hur54b {
        padding:72px;
    }
}
.mmGMM {
	border:none;
	border-radius:8px;
	background-color:white;
	width:100%;
	height:100%}
.Xfsokf{position:fixed;
	top:26px;
	right:72px;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	align-items:center;
	border:none;
	border-radius:18px;
	height:36px;
	padding:16px;
	cursor:pointer}
.Xfsokf{
	background-color:rgb(60,64,67)
}
.L0Dvsd{
	color:#fff;
	font-size:18px;
	margin-right:8px
}
.uE25ec{font-size:14px;
	font-family:"Google Sans",Arial,sans-serif;
	font-weight:500;
	letter-spacing:.25px;
	color:#fff
}
sentinel{}